.header {
  background-image: url(../images/desktop/header-bg.png);
}

.header .container {
  padding-top: 40px;
  justify-content: center;
  padding-bottom: 192px;
}

.header__title {
  color: #dc56c5;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin-bottom: 52px;
}

.header-list {
  margin-left: auto;
  margin-right: auto;
  width: 575px;
  display: flex;
}

.header-list__item {
  position: relative;
  width: 270px;
}

.header-list__filling {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px 15px 10px 30px;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
  margin-right: 30px;
}

.header-list__filling:last-child {
  margin: 0;
}

.header-list__icon {
  position: absolute;
  top: 15px;
  right: 60px;
}
