.header {
  background-image: url(../images/desktop/header-bg.png);
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__photo {
  width: 105px;
  height: 90px;

  @media (min-width: 624px) {
    width: 180px;
    height: 150px;
  }

  @media (min-width: 1080px) {
    width: 240px;
    height: 200px;
  }
}

.header .container {
  padding-top: 78px;
  justify-content: center;
  padding-bottom: 61px;

  @media (min-width: 624px) {
    padding-top: 40px;
    padding-bottom: 136px;
  }

  @media (min-width: 1080px) {
    padding-bottom: 146px;
  }
}

.header__title {
  font-size: 18px;
  color: #dc56c5;
  font-weight: 900;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  max-width: 220px;

  @media (min-width: 624px) {
    font-size: 30px;
    margin-bottom: 27px;
    max-width: 355px;
  }

  @media (min-width: 1080px) {
    font-size: 50px;
    margin-bottom: 52px;
    max-width: 600px;
  }
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

  @media (min-width: 624px) {
    gap: 30px;
    flex-wrap: nowrap;
  }
}

.header-list__item {
  position: relative;
}

.header-list__filling {
  display: block;
  // max-width: 270px;
  width: 270px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px 15px 10px 30px;
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

.header-list__icon {
  position: absolute;
  top: 14px;
  right: 30px;
}
