<footer class="footer">
  <ul class="footer__pagination">
    <li class="footer__pagination-item">
      <button class="footer__pagination-btn p-btn-1">1</button>
    </li>
    <li class="footer__pagination-item">
      <button class="footer__pagination-btn">2</button>
    </li>
    <li class="footer__pagination-item">
      <button class="footer__pagination-btn">3</button>
    </li>
    <li class="footer__pagination-item">
      <button class="footer__pagination-btn">4</button>
    </li>
    <li class="footer__pagination-item">
      <button class="footer__pagination-btn">5</button>
    </li>
  </ul>
  <p class="footer__text">
    © 2021 | All Rights Reserved | Developed with ♥ by GoIT Students
  </p>
</footer>
