<header class="header">
  <div class="container">
    <a class="header__logo">
      <!-- ICON -->
    </a>
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="header__center-div">
      <input
        class="header__search"
        type="text"
        placeholder="Start searching"
      />
      <select class="header__location" aria-label="Choose location">
        <option value="All">All</option>
        <option value="Palace of Ukraine">Palace of Ukraine</option>
        <option value="VDNH">VDNH</option>
      </select>
    </div>
  </div>
</header>
